mixin title(text)
  span.title= text

mixin button(params)
  - let text = params.text
  - let page = params.page
  - let icon = params.icon
  - let selected = params.page == data.page

  a.link(href=page)
    div.button(class=selected ? 'selected' : '')
      if icon
        img.icon(src='icons/' + icon)
      if text
        span.label= text

div#navigation-wrapper
  div.navigation
    div.section
      +button({text:'Metrics', page:'metrics', icon:'can.svg'})
      //-+button({text:'Trips', page:'trips', icon:'map.svg'})
      +button({text:'Logs', page:'logs', icon:'logs.svg'})
      //-+button({text:'Settings', page:'settings', icon:'settings.svg'})
      
    span.version= data.version